<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainotes.erp.dao.OrderModelMapper">
  <resultMap id="BaseResultMap" type="com.rainotes.erp.domain.OrderModel">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="creater" jdbcType="INTEGER" property="creater" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="checker" jdbcType="INTEGER" property="checker" />
    <result column="check_time" jdbcType="DATE" property="checkTime" />
    <result column="completer" jdbcType="INTEGER" property="completer" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_id, order_num, creater, create_time, checker, check_time, completer, end_time, 
    order_type, order_state, total_num, total_price, supplier_id
  </sql>
  <select id="selectByExample" parameterType="com.rainotes.erp.domain.OrderModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_model
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_model
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rainotes.erp.domain.OrderModelExample">
    delete from order_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rainotes.erp.domain.OrderModel">
    insert into order_model (order_id, order_num, creater, 
      create_time, checker, check_time, 
      completer, end_time, order_type, 
      order_state, total_num, total_price, 
      supplier_id)
    values (#{orderId,jdbcType=INTEGER}, #{orderNum,jdbcType=VARCHAR}, #{creater,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{checker,jdbcType=INTEGER}, #{checkTime,jdbcType=DATE}, 
      #{completer,jdbcType=INTEGER}, #{endTime,jdbcType=DATE}, #{orderType,jdbcType=INTEGER}, 
      #{orderState,jdbcType=INTEGER}, #{totalNum,jdbcType=INTEGER}, #{totalPrice,jdbcType=DOUBLE}, 
      #{supplierId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rainotes.erp.domain.OrderModel">
    insert into order_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="checker != null">
        checker,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="completer != null">
        completer,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=DATE},
      </if>
      <if test="completer != null">
        #{completer,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=DATE},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rainotes.erp.domain.OrderModelExample" resultType="java.lang.Long">
    select count(*) from order_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_model
    <set>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null">
        creater = #{record.creater,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.checker != null">
        checker = #{record.checker,jdbcType=INTEGER},
      </if>
      <if test="record.checkTime != null">
        check_time = #{record.checkTime,jdbcType=DATE},
      </if>
      <if test="record.completer != null">
        completer = #{record.completer,jdbcType=INTEGER},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=DATE},
      </if>
      <if test="record.orderType != null">
        order_type = #{record.orderType,jdbcType=INTEGER},
      </if>
      <if test="record.orderState != null">
        order_state = #{record.orderState,jdbcType=INTEGER},
      </if>
      <if test="record.totalNum != null">
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.supplierId != null">
        supplier_id = #{record.supplierId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_model
    set order_id = #{record.orderId,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=DATE},
      checker = #{record.checker,jdbcType=INTEGER},
      check_time = #{record.checkTime,jdbcType=DATE},
      completer = #{record.completer,jdbcType=INTEGER},
      end_time = #{record.endTime,jdbcType=DATE},
      order_type = #{record.orderType,jdbcType=INTEGER},
      order_state = #{record.orderState,jdbcType=INTEGER},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DOUBLE},
      supplier_id = #{record.supplierId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rainotes.erp.domain.OrderModel">
    update order_model
    <set>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="checker != null">
        checker = #{checker,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=DATE},
      </if>
      <if test="completer != null">
        completer = #{completer,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rainotes.erp.domain.OrderModel">
    update order_model
    set order_num = #{orderNum,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      checker = #{checker,jdbcType=INTEGER},
      check_time = #{checkTime,jdbcType=DATE},
      completer = #{completer,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=DATE},
      order_type = #{orderType,jdbcType=INTEGER},
      order_state = #{orderState,jdbcType=INTEGER},
      total_num = #{totalNum,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      supplier_id = #{supplierId,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>